/.FSMEditorController.java._trace
/.FSMPopupMenu.java._trace
/.FSMEditorControllerStateMachine.java._trace
/.SelectionZone.java._trace
/.FSMEditorController2.java._trace
/.FSMView.java._trace
/.FSMEditorControl.java._trace
